.about-banner {
  position: relative;
  background: url("../images/about-rethink-banner.jpg") no-repeat center
    center/cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.about-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
.about-banner h1 {
  position: relative;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.6;
  padding: 0rem 20rem;
  color: #ffffff;
  z-index: 1;
}

.about-content {
  max-width: 80% !important;
  background-color: #183266;
  padding: 2rem 3rem !important;
  text-align: center;
  margin: 4rem 0rem;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(89, 91, 233, 0.2);
}

.about-content p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 0;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0rem;
}

.about-section img {
  flex: 1 1 50%;
  width: 50%;
  max-width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-right: 2rem;
}

.about-section > div {
  flex: 1 1 50%;
  width: 50%;
}

.about-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #183266;
  margin-bottom: 1rem;
}

.about-section p {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  line-height: 1.6;
  padding-right: 2.5rem;
}

.community-involvement {
  max-width: 80% !important;
  background-color: #183266;
  padding: 2rem 3rem !important;
  text-align: center;
  margin: 4rem 0rem;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(89, 91, 233, 0.2);
}

.community-involvement h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
}

.community-involvement p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 0;
}

/* Responsive adjustments for smaller screen widths */

@media (max-width: 992px) {
  .about-banner {
    height: 50vh;
    width: 100%;
  }

  .about-banner h1 {
    font-size: 2.5rem;
    line-height: 1.8;
    padding: 0rem 2rem;
  }
}

@media (max-width: 768px) {
  .about-banner {
    height: 300px;
    width: 100%;
  }

  .about-banner h1 {
    font-size: 2rem;
    line-height: 1.5;
  }

  .about-content {
    max-width: 90% !important;
  }

  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-section img,
  .about-section > div {
    flex: 1 1 100%;
    width: 100%;
    margin: 0;
  }
  .about-section img {
    margin-bottom: 1rem;
  }

  .about-section p {
    padding-right: 0;
  }

  .community-involvement h2 {
    font-size: 1.8rem;
  }
}
