.about-banner {
  position: relative;
  background: url("../images/about-rethink-banner.jpg") no-repeat center
    center/cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.about-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
.about-banner h1 {
  position: relative;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.6;
  padding: 0rem 20rem;
  color: #ffffff;
  z-index: 1;
}

.about-content{
  max-width: 80% !important;
  background-color: #183266;
  padding: 2rem 3rem !important;
  text-align: center;
  margin: 4rem 0rem;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(89, 91, 233, 0.2);
}

.about-content p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 0;
}

.about-section {
  max-width: 900px;
  margin: 140px auto 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-section h1,
.about-section h2,
.about-section h3,
.about-section h4 {
  margin-bottom: 1rem;
  color: #00529b;
}
.about-section p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: #333;
}
.achievements {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .about-section {
    margin: 120px 1rem 2rem 1rem;
    padding: 1.5rem;
  }
}
