.hero {
  position: relative;
  background: url("../images/rethink-home-banner.jpg") no-repeat center
    center/cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero h1 {
  position: relative;
  font-size: 4rem;
  font-weight: 700;
  z-index: 1;
}

.intro-section {
  background-color: #183266;
  padding: 2rem 3rem !important;
  text-align: center;
  margin: 4rem 0rem;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(89, 91, 233, 0.2);
}
.intro-section h2 {
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.intro-section p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 0.3rem;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button {
  display: block;
  width: fit-content;
  background-color: #fbfe50;
  color: #183266;
  padding: 0.75rem 1.2rem;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 1rem;
  border: 2px solid #fbfe50;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: transparent;
  color: #fbfe50;
}

.why-choose {
  margin: 4rem 0rem;
}

.why-choose h2 {
  text-align: center;
  color: #183266;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.why-choose p {
  text-align: center;
  color: #000000;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  font-weight: 600;
  padding: 0rem 4rem;
}

.benefits {
  border: 2px solid #183266;
  border-radius: 8px;
  margin: 1.5rem 0rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
}

.benefits:hover {
  cursor: pointer;
  background-color: #183266;
  box-shadow: 0 2px 15px rgba(89, 91, 233, 0.2);
  transition: all 0.5s ease;
  transform: translateY(-10px);
}

.benefits:hover span,
.benefits:hover p {
  color: #ffffff !important;
}

.benefits i {
  font-size: 2.5rem;
  color: #183266;
  margin-right: 1.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #fbfe50;
}

.benefits span {
  text-align: left;
  color: #183266;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  width: fit-content;
}

.benefits p {
  text-align: left;
  color: #000000;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400 !important;
  padding: 0;
  margin: 0;
}

.features {
  margin: 4rem 0rem;
}

.features h2 {
  text-align: center;
  color: #183266;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 2rem;
  row-gap: 4rem;
  align-items: center;
  justify-items: center;
}

.feature {
  text-align: center;
  padding: 2rem;
  background: #183266;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(89, 91, 233, 0.2);
  width: 400px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.feature:hover {
  transform: scale(1.05);
}

.feature i {
  font-size: 4rem;
  color: #fbfe50;
  margin-bottom: 1rem;
}

.feature h3 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 0.75rem;
}

.feature p {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 0;
}

.detailed-content {
  background-color: #183266;
  color: #ffffff;
  padding: 4rem 2rem;
  text-align: center;
}

.impact-of-digital-communication h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.impact-of-digital-communication p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.5px;
  padding: 0rem 2rem;
  margin-bottom: 0.2rem;
  margin-top: 1.3rem;
}

.how-it-works {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0rem;
}

.how-it-works-image {
  height: 450px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.how-it-works-content {
  margin-left: 2rem;
}

.how-it-works-content h2 {
  color: #183266;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.how-it-works-content ol li {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
  margin-bottom: 0.5rem;
}

.how-it-works-content p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  color: #000000;
  margin-bottom: 0;
}

.community-impact {
  padding: 1rem 0rem 5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.community-impact-image {
  height: 450px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.community-impact-content {
  padding-right: 2rem;
}

.community-impact-content h2 {
  color: #183266;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.community-impact-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
  margin-bottom: 0.5rem;
}

.testimonials {
  background: #183266;
  padding: 4rem 0rem;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

.testimonials h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.testimonial {
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  transition: all 0.3s ease-in;
}

.testimonial:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.testimonial p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
}

.testimonial h6 {
  display: block;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #183266;
}

.news-section {
  padding: 4rem 2rem;
}

.news-section h2 {
  text-align: center;
  color: #183266;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.news-item {
  background: #183266;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.news-item:hover {
  translate: 0 -10px;
  box-shadow: 0 15px 25pxrgba (0, 0, 0, 0.2);
}

.news-item h3 {
  color: #fbfe50;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.news-item p {
  font-size: 1.1rem;
  color: #ffffff;
}

.news-item-link a {
  color: #fbfe50;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
}

.news-item-link a i {
  margin-left: 5px;
}

/* Responsive Styles */

@media (max-width: 992px) {
  .how-it-works {
    display: flex;
    flex-direction: column;
    padding: 5rem 0rem;
  }

  .how-it-works-content {
    margin-left: 0rem;
    margin-top: 2rem;
  }

  .community-impact {
    padding: 1rem 0rem 5rem 0rem;
    display: flex;
    flex-direction: column;
  }

  .community-impact-content {
    padding-right: 0rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 300px;
    width: 100%;
  }

  .hero h1 {
    font-size: 2.5rem;
    line-height: 1.8;
  }

  .why-choose p {
    padding: 0rem;
  }

  .detailed-content {
    padding: 4rem 0rem;
  }

  .impact-of-digital-communication p {
    padding: 0rem;
  }
}

@media (max-width: 480px) {
  .intro-section {
    padding: 2rem 2rem !important;
  }

  .benefits {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .benefits i {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .benefits p {
    text-align: center;
    width: 100%;
  }

  .features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

  .feature {
    width: auto;
    padding: 2rem 1rem;
  }
}
